Repository zlogzr/my-app: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --cache --fix

test: 1
  .lintstagedrc
  commitlint.config.js
  src/index.tsx
  src/pages/test.ts
Due: pretty-quick --staged, eslint --cache --fix

test: 1
  .eslintignore
  src/pages/test.ts
Due: pretty-quick --staged, eslint --cache --fix

test: 2
  .lintstagedrc
Due: none

feat: stylelint添加
  .eslintignore
  .lintstagedrc
  .stylelintrc.js
  package.json
  src/pages/manage/style.less
  src/style.css
Due: pretty-quick --staged

fix: stylelint
  package.json
  src/pages/manage/index.tsx
  src/pages/manage/style.less
Due: pretty-quick --staged, eslint --cache --fix

fix: stylelint优化
  .eslintignore
  .stylelintignore
  .stylelintrc.js
  package.json
  src/pages/login/index.tsx
  src/pages/login/style.less
Due: pretty-quick --staged, eslint --cache --fix

fix: 优化
  .env
  .eslintignore
  .gitignore
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc.js
  craco.config.js
  note.md
  package.json
  src/pages/login/style.less
  tsconfig.extend.json
Due: pretty-quick --staged

fix: 优化
  .eslintrc.json
  commitlint.config.js
  src/pages/manage/style.less
  src/routers/index.tsx
Due: pretty-quick --staged, eslint --cache --fix

feat: 增加.vscode
  .vscode/settings.json
Due: none

test: 测试Table组件
  package.json
  src/index.tsx
  src/pages/test/index.tsx
  src/pages/test/style.less
  src/pages/test/tableSort.tsx
  src/routers/index.tsx
  src/style.css
Due: pretty-quick --staged, eslint --cache --fix

Path conditions:
  pretty-quick --staged: (any of: ./src/**/*.{ts,tsx}) or (any of: ./src/**/*.{less,css})
  eslint --cache --fix: any of: ./src/**/*.{ts,tsx}
